$background-color: #f5f5f5;
$white: #fff;

body{
    background-color: $background-color;
}

.main_area{
    width: 1000px;
    min-height: 800px;
    margin: 0 auto;
    background-color: $white;

    .welcome{
        height: 260px;
        padding-top: 20px;
        font-size: 20px;

        .left-area{
            float: left;   
        }
        .right-area{
            float: left;         
            margin: 80px 20px;
        }
    } 
}